@import 'src/scss/_fonts';
@import 'src/scss/_colors';

.logo {
    cursor: pointer;

    a {

        font-family: 'Bebas Neue', sans-serif;
        font-size: 41px;
        color: $font-color;
    }
}