@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;500&display=swap');

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

    h1 {
        margin: 50px 0 40px;
        font-size: 56px;
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Roboto', sans-serif;
    }

    div {
        flex-grow: 1;
    }
}