nav {
    ul {
        display: flex;
        gap: 8px;
        li {
            font-size: 1.5rem;
            cursor: pointer;
            padding: 16px;
            svg {
                cursor: pointer;
                transition: 0.2s;
                // fill(для svg) и stroke(для path) в файле svg

                &:hover {
                    transition: 0.2s;
                    scale: (1.2);
                }

                &:active {
                    scale: (1);
                }
            }
        }
    }
}