@charset "UTF-8";
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;500&display=swap");
/*Обнуление*/
:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: rgb(49, 48, 55);
}

/*--------------------*/
button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  color: rgb(49, 48, 55);
  background-color: rgb(226, 200, 255);
  width: 100%;
  height: 56px;
}
button:hover {
  transition: 0.2s;
  background-color: rgba(152, 62, 255, 0.5);
}
button:active {
  transition: 0.1s;
  box-shadow: 0px 0px 12px 12px rgba(34, 60, 80, 0.2) inset;
}

.formCartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  width: 100%;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.formCartItem .cartItem__description {
  display: flex;
  gap: 32px;
  max-width: 734px;
  width: 100%;
}
.formCartItem .cartItem__description .cartItem__image {
  display: flex;
  max-width: 256px;
  max-height: 200px;
  width: 100%;
  cursor: pointer;
  background-color: rgb(254, 233, 226);
}
.formCartItem .cartItem__description .cartItem__image :first-child {
  max-width: 256px;
  -o-object-fit: contain;
     object-fit: contain;
}
.formCartItem .cartItem__description .cartItem__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.formCartItem .cartItem__description .cartItem__details .cartItem__title {
  font-size: 24px;
  line-height: 133%;
  font-family: "Bebas Neue", sans-serif;
}
.formCartItem .cartItem__description .cartItem__details .cartItem__author {
  color: rgb(168, 168, 168);
  line-height: 150%;
}
.formCartItem .cartItem__price {
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
}

.cartTotal {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 256px;
  width: 100%;
  margin-bottom: 72px;
}

.formFavoriteItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  width: 100%;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.formFavoriteItem .favoriteItem__description {
  display: flex;
  gap: 32px;
  max-width: 734px;
  width: 100%;
}
.formFavoriteItem .favoriteItem__description .favoriteItem__image {
  display: flex;
  max-width: 256px;
  max-height: 200px;
  width: 100%;
  cursor: pointer;
  background-color: rgb(254, 233, 226);
}
.formFavoriteItem .favoriteItem__description .favoriteItem__image :first-child {
  max-width: 256px;
  -o-object-fit: contain;
     object-fit: contain;
}
.formFavoriteItem .favoriteItem__description .favoriteItem__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.formFavoriteItem .favoriteItem__description .favoriteItem__details .favoriteItem__title {
  font-size: 24px;
  line-height: 133%;
  font-family: "Bebas Neue", sans-serif;
}
.formFavoriteItem .favoriteItem__description .favoriteItem__details .favoriteItem__author {
  color: rgb(168, 168, 168);
  line-height: 150%;
}
.formFavoriteItem .favoriteItem__price {
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  width: 100%;
  min-height: 95px;
  border-radius: 20px 20px 0 0;
  font-size: 16px;
  background-color: rgb(226, 200, 255);
}

.logo {
  font-size: 28px;
  cursor: pointer;
}

nav ul {
  display: flex;
}
nav ul li {
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  width: 100%;
  min-height: 104px;
  border-radius: 0 0 20px 20px;
  background-color: rgb(226, 200, 255);
}

.formInput {
  display: flex;
  flex-direction: column;
  max-width: 544px;
  width: 100%;
  gap: 4px;
}
.formInput .formInput__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 200%;
}
.formInput input {
  padding: 15px 20px;
  border: 1px solid rgb(231, 231, 231);
}

.labelText__detalise {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.labelText__detalise div:first-child {
  color: rgb(168, 168, 168);
  line-height: 200%;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 25px;
  width: 100%;
}
main h1 {
  margin: 50px 0 40px;
  font-size: 56px;
  font-family: "Bebas Neue", sans-serif;
}

.formPost {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 352px;
  width: 100%;
}
.formPost img {
  max-height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}
.formPost .formPost__footer {
  display: flex;
}

.formPost:nth-child(4n+1) img {
  background-color: rgb(254, 233, 226);
}

.formPost:nth-child(4n+2) img {
  background-color: rgb(202, 239, 240);
}

.formPost:nth-child(4n+3) img {
  background-color: rgb(215, 228, 253);
}

.formPost:nth-child(4n+4) img {
  background-color: rgb(244, 238, 253);
}

.post-single .post-single__book-description {
  display: flex;
  justify-content: space-between;
}
.post-single .post-single__book-description .book-description__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 544px;
  width: 100%;
  background-color: rgb(254, 233, 226);
}
.post-single .post-single__book-description .book-description__image .book-description__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 56px;
  background-color: rgb(49, 48, 55);
  cursor: auto;
}
.post-single .post-single__book-description .book-description__image .book-description__icon svg {
  cursor: pointer;
  transition: 0.2s;
}
.post-single .post-single__book-description .book-description__image .book-description__icon svg:hover {
  transition: 0.2s;
  scale: 1.2;
}
.post-single .post-single__book-description .book-description__image .book-description__icon svg:active {
  scale: 1;
}
.post-single .post-single__book-description .book-description__image .book-description__iconStyle svg {
  fill: rgb(252, 133, 127);
}
.post-single .post-single__book-description .book-description__image .book-description__iconStyle path {
  stroke: rgb(252, 133, 127);
}
.post-single .post-single__book-description .book-description__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 448px;
  width: 100%;
  border-top: 1px solid rgb(231, 231, 231);
}
.post-single .post-single__book-description .book-description__details .book-description__price {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-single .post-single__book-description .book-description__details .book-description__price div:first-child {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  line-height: 150%;
}
.post-single .post-single__book-description .book-description__details .book-description__content {
  padding-bottom: 99px;
}
.post-single .post-single__book-description .book-description__details .book-description__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.post-single .post-single__text {
  line-height: 200%;
}

.formTabMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.formTabMenu div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  font-size: 24px;
  color: rgb(168, 168, 168);
  font-family: "Bebas Neue", sans-serif;
  cursor: pointer;
}
.formTabMenu div:hover {
  transition: 0.2s;
  color: rgb(49, 48, 55);
}
.formTabMenu .active {
  position: relative;
  color: rgb(49, 48, 55);
  top: 2px;
  padding-bottom: 1px;
  border-bottom: 2px solid rgb(49, 48, 55);
}

#form_1 {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
#form_1 .formTemplate {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#form_1 .formTemplate .account__profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  width: 100%;
}
#form_1 .formTemplate .account__password {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  padding-bottom: 72px;
  border-bottom: 1px solid rgb(231, 231, 231);
}
#form_1 .formTemplate .account__password .formInput__Password {
  width: calc(50% - 16px);
}
#form_1 .formTemplate .account__password .bb {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
#form_1 .account__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
#form_1 .account__buttons :last-child {
  border: 1px solid rgb(231, 231, 231);
  background-color: rgb(255, 255, 255);
}
#form_1 .account__buttons :last-child:hover {
  background-color: rgb(231, 231, 231);
}
#form_1 .account__buttons button {
  width: 257px;
  height: 56px;
}

.cartPage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

.homePage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;
  row-gap: 48px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-bottom: 72px;
}

.signInPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.signInPage .formTemplate {
  display: flex;
  flex-direction: column;
  max-width: 544px;
  width: 100%;
  border: 1px solid rgb(231, 231, 231);
}
.signInPage .formTemplate .formSignIn .formSignIn__signIn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
}
.signInPage .formTemplate .formSignIn .formSignIn__signUp {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
}
.signInPage .formTemplate .formSignIn button {
  max-width: 480px;
  margin: 8px 32px 40px;
}

.wrapper {
  overflow-x: hidden;
  background-color: #F7F7F7;
}
.wrapper .app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.2);
}