@import 'src/scss/_fonts';
@import 'src/scss/_colors';

.labelText__detalise {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &> :nth-child(1) {
        color: $font-color-2;
        line-height: 200%;
    }
}

@media (max-width: 425px) {
    .book-description__content {
        .labelText__detalise {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}