.post-single {
    .post-single__book-description {
        display: flex;
        justify-content: space-between;
        gap: 128px;

        .book-description__image {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 544px;
            width: 100%;
            background-color: $post-bg-color;

            .book-description__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                right: 0;
                width: 56px;
                height: 56px;
                background-color: $font-color;
                cursor: auto;

                svg {
                    cursor: pointer;
                    transition: 0.2s;
                    // fill(для svg) и stroke(для path) в файле svg

                    &:hover {
                        transition: 0.2s;
                        scale: (1.2);
                    }

                    &:active {
                        scale: (1);
                    }
                }
            }

            .book-description__iconStyle {
                svg {
                    fill: $favorite-icon-color;
                }

                path {
                    stroke: $favorite-icon-color;
                }
            }
        }

        .book-description__details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 448px;
            width: 100%;
            border-top: 1px solid $border-color;

            .book-description__price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 40px;

                &:first-child div {
                    font-family: 'Bebas Neue', sans-serif;
                    font-size: 2.5rem;
                    line-height: 150%;
                }
            }

            .book-description__content {
                padding-bottom: 99px;
            }

            .book-description__btn {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;

                &> :nth-child(2) {
                    background: rgba(255, 255, 255, 0);
                    font-size: 1rem;
                    font-family: inherit;
                    height: 24px;
                    max-width: 150px;
                   
                    &:active {
                        box-shadow: 0px 0px 12px 12px rgba(0, 145, 255, 0) inset;
                    }

                    p {
                        color: $font-color-2;
                        cursor: not-allowed;
                    }
                }

            }
        }
    }

    .formTabMenu {
        justify-content: flex-start;
        gap: 40px;
        margin: 72px 0 0 0;
        padding: 0;

        div {
            max-width: 161px;
            height: 48px;
            font-size: 1rem;
            line-height: 150%;
            color: $font-color-2;

            &:hover {
                color: $font-color;
            }
        }

        .active {
            color: $font-color;
            border-bottom: 2px solid $font-color;
        }

    }

    .post-single__text {
        padding: 49px 0;
        color: $font-color;
        line-height: 200%;
    }
}

@media (max-width: 800px) {
    .post-single {
        .post-single__book-description {
            flex-direction: column;
            align-items: center;
            gap: 48px;

            .book-description__image {
                max-width: none;
            }

            .book-description__details {
                max-width: none;

                .book-description__content {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding-bottom: 36px;
                }

                .book-description__btn {
                    gap: 32px;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .post-single {
        .post-single__book-description {
            .book-description__image {
                img {
                    max-height: 272px;
                }
            }
            .book-description__details {

                .book-description__price {
                    padding: 40px 0 24px;
                }

            }
        }

        .formTabMenu {
            margin: 54px 0 0 0;
        }

        .post-single__text {
            padding: 32px 0;
        }
    }
}