@import 'src/scss/_fonts';
@import 'src/scss/_colors';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    width: 100%;
    min-height: 104px;
    border-radius: 20px 20px 0 0;
    background: $main-color;
}