@import 'src/scss/_fonts';
@import 'src/scss/_colors';

.cartPage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 48px;
}