.formCartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px;
    width: 100%;
    border-bottom: 1px solid $border-color;

    .cartItem__description {
        display: flex;
        gap: 32px;
        max-width: 734px;
        width: 100%;

        .cartItem__image {
            display: flex;
            max-width: 256px;
            max-height: 200px;
            width: 100%;
            cursor: pointer;
            background-color: $post-bg-color;

            :first-child {
                max-width: 256px;
                object-fit: contain;
            }
        }

        .cartItem__details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 24px;

            .cartItem__title {
                font-size: 1.5rem;
                line-height: 133%;
                font-family: 'Bebas Neue', sans-serif;
            }

            .cartItem__author {
                color: $font-color-2;
                line-height: 150%;
            }
        }
    }

    .cartItem__price {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 2.5rem;
        line-height: 150%;
    }

    .cartItem__delete {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0);
            transition: 0.2s;

            &:hover {
                transition: 0.2s;
                scale: (1.2);
            }

            &:active {
                scale: (1);
                box-shadow: 0px 0px 12px 12px rgba(34, 60, 80, 0) inset;
            }
        }
    }

}

@media (max-width: 800px) {
    .formCartItem {
        position: relative;
        align-items: flex-start;

        .cartItem__price {
            position: absolute;
            bottom: 72px;
            right: 36px;
        }
    }
}

@media (max-width: 650px) {
    .formCartItem {
        padding-bottom: 36px;

        .cartItem__description {
            flex-direction: column;
            gap: 20px;

            .cartItem__image {
                justify-content: center;
                max-height: 204px;
                max-width: none;
            }
        }

        .cartItem__price {
            font-size: 1.75rem;
            bottom: 42px;
            right: 0;
        }

        .cartItem__delete {
            position: absolute;
            top: 0;
            right: 0;
            width: 56px;
            height: 56px;
            background-color: $font-color;
            cursor: auto;

            button {
                svg {
                    fill: rgb(255, 255, 255);
                }
            }
        }

    }
}