.searchPage {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &>:nth-child(1) {
        position: absolute;
        top: -45px;
        left: 0;
        font-size: 1rem;
        line-height: 150%;
        color: $font-color-2;
    }

    .searchPage__content {
        display: grid;
        flex-grow: 1;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        justify-items: center;
        row-gap: 48px;
        column-gap: 32px;
        margin-bottom: 72px;
    }
}

@media (max-width: 800px) {
    .searchPage {
        &>:nth-child(1) {
            display: none;
        }

        .searchPage__content {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 540px) {
    .searchPage {
        .searchPage__content {
            gap: 36px;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}