$main-color: rgb(214, 180, 252);
$button-main-hover-color: rgba(152, 62, 255, 0.5);
$border-color: rgb(231, 231, 231);
$font-color: rgb(49, 48, 55);
$font-color-2: rgb(168, 168, 168);
$post-bg-color: rgb(254, 233, 226);
$favorite-icon-color: rgb(255, 0, 0);