// $main-color: #254fb5;
// $main-color: linear-gradient(to bottom, rgb(226, 200, 255), transparent);
// $main-color: #247158;
// $main-color: #6ab29b;
// $main-color: #95877a;
// $main-color: #e4d5c7;
// $main-color: #2f5663;
// $main-color: #f28482;
// $main-color: #f5cac3;
// $main-color: #84a59d;

$main-color: rgb(226, 200, 255);
$wrapper-color: rgb(247, 247, 247);
$button-main-hover-color: rgba(152, 62, 255, 0.5);
$border-color: rgb(231, 231, 231);
$font-color: rgb(49, 48, 55);
$font-color-2: rgb(168, 168, 168);
$post-bg-color: rgb(254, 233, 226);
$post-bg-color-4: rgb(244, 238, 253);
$post-bg-color-3: rgb(215, 228, 253);
$post-bg-color-2: rgb(202, 239, 240);
$favorite-icon-color: rgb(252, 133, 127);
$error-color: rgb(252, 133, 127);
$registation-complete: rgb(244, 238, 253);
$delete-btn-white: rgb(255, 255, 255);

