@import './_fonts';
@import './_colors';
@import './_reset';

@import '../components/Button/Button';
@import '../components/CartItem/CartItem';
@import '../components/CartTotal/CartTotal';
@import '../components/FavoriteItem/FavoriteItem';
@import '../components/Footer/Footer';
@import '../components/HeaderMenu/HeaderLogo/HeaderLogo';
@import '../components/HeaderMenu/HeaderNavBar/HeaderNavBar';
@import '../components/HeaderMenu/HeaderMenu';
@import '../components/Input/Input';
@import '../components/LableText/LabelText';
@import '../components/PageTemplate/PageTemplate';
@import '../components/Post/Post';
@import '../components/PostSingle/PostSingle';

@import '../pages/AccountPage/_AccountPage';
@import '../pages/CartPage/CartPage';
@import '../pages/HomePage/HomePage';



.wrapper {
    overflow-x: hidden;
    background-color: #F7F7F7;

    .app {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1170px;
        min-height: 100vh;
        margin: 0 auto;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.2);
    }
}