#form-2,
#form-3 {
    position: relative;
    max-width: 544px;
    width: 100%;

    input {
        &:focus {
            box-shadow: 0 2px 4px #0000001a, 0 0 0 1px #0000001a, 0 12px 12px #0000000d;
        }

        padding: 14px 2.75rem 14px 3.25rem;
    }

    .form-2__Btn {
        background: rgba(255, 255, 255, 0);
        position: absolute;
        top: 16px;
        width: 24px;
        height: 24px;
    }

    .form-2__searchBtn {
        left: 14px;
    }

    .form-2__resetBtn {
        right: 11px;
    }
}


@media (max-width: 800px) {
    #form-2 {
        display: none;
    }
}


@media (max-width: 425px) {}