form {
    .FormTemplate {
        .account__profile {
            display: flex;
            width: 100%;
            .formInput__Name {
                width: 100%;
            }
            .formInput__Email {
                width: 100%;
            }
        }  
        .account__password {
            display: flex;
            flex-direction: column;
            .formInput__Password {
                width: 50%;
            }
            .bb {
                display: flex;
                .formInput__New {
                    width: 100%;
                }
                .formInput__Confirm {
                    width: 100%;
                }
            }
        }  
    }
    .account__buttons {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        button {
            width: 200px;
            height: 50px;
        }
    }    
}