.formFavoriteItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px;
    width: 100%;
    border-bottom: 1px solid $border-color;

    .favoriteItem__description {
        display: flex;
        gap: 32px;
        max-width: 734px;
        width: 100%;

        .favoriteItem__image {
            display: flex;
            max-width: 256px;
            max-height: 200px;
            width: 100%;
            cursor: pointer;
            background-color: $post-bg-color;

            :first-child {
                max-width: 256px;
                object-fit: contain;
            }
        }

        .favoriteItem__details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 24px;
            width: 100%;

            .favoriteItem__title {
                font-size: 24px;
                line-height: 133%;
                font-family: 'Bebas Neue', sans-serif;
            }

            .favoriteItem__author {
                color: $font-color-2;
                line-height: 150%;
            }

            .favoriteItem__amount {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 352px;

                :nth-child(1n + 1) {
                    font-family: 'Bebas Neue', sans-serif;
                    font-size: 24px;
                    line-height: 133%;
                }
            }
        }
    }

    .favoriteItem__icon {
        svg {
            cursor: pointer;
            transition: 0.2s;
            fill: $favorite-icon-color;

            path {
                stroke: $favorite-icon-color;
            }

            &:hover {
                transition: 0.2s;
                scale: (1.2);
            }

            &:active {
                scale: (1);
            }
        }
    }

}